
html{

    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Itim", sans-serif;
  }
.container{
    margin: 0 auto;
    width: 1440px;
height: 700px;
box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
background: #f9f9f9;
display: flex;
justify-content: space-between
}