.header{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px gray solid;
}
.heading{
    font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
color: #000;
} 
.user_profil{
display: flex;
flex-direction: column;
height: 100%;
padding-top: 3px;
}
.user_profil img{
    margin: 0;
    padding: 0;
width: 50%;
}
.user_profil h2{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 129%;
color: #000;
}
.user_profil p{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: rgba(0, 0, 0, 0.5);
}