.site_bar {
    width: 230px;
    height: 100%;
    padding: 50px 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    color: white;
    border-radius: 0 30px 30px 0;
}

.site_bar img {
    width: 90%;
    margin-bottom: 20px;
}

// .nav{}
.nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.list_item {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.list_item a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
.list_item a i{
    color: #00ff00;
}
.list_item:hover {
    transition: 0.2s;
    background: rgba(98, 238, 110, 0.425);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    width: 100%;
    border-radius: 10px;

    a {
        color: #00ff00;
    }
}